h1 {
    font-size: 5rem;
    color: Green;
    text-align: center;
}

#word {
    color: black;
    font-weight: bold;
}

#blank-word {
    text-transform: uppercase;
}
#wrong-letter {
    text-transform: uppercase;
}
#current-guess {
    text-transform: uppercase;
}

